<ng-container *transloco="let transloco">
      <ng-container *ngIf="hasTouched()">
        <mat-error class="mb-3" *ngIf="form.get(field)?.hasError('required')">
          {{ transloco('home-page.invalid-feedback.required') }}
        </mat-error>
        <mat-error class="mb-3" *ngIf="form.get(field)?.hasError('maxlength')">
          {{ transloco('home-page.invalid-feedback.max') }}
          {{ maxLength }}
        </mat-error>
        <mat-error class="mb-3" *ngIf="form.get(field)?.hasError('minlength')">
          {{ transloco('home-page.invalid-feedback.min') }}
          {{ minLength }}
        </mat-error>
        <mat-error class="mb-3" *ngIf="form.get(field)?.hasError('pattern')">
          {{ transloco('home-page.invalid-feedback.invalid-pattern') }}
        </mat-error>
      </ng-container></ng-container
    >